#demo5 {
  .demo-wrapper > div {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .box {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 10px;
    height: 16.666666%;
    justify-content: center;
    text-align: center;
    width: 16.666666%;

    @media screen and (max-width: 768px) {
      font-size: 7px;
    }
  }
}
