@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i&display=swap');

body,
html {
  font-family: Roboto;
  height: 100%;
}

body {
  background-color: #333;
  margin: 0;
  padding: 0;
}

header {
  padding: 2em;
}

header .logo {
  display: block;
  margin: 0 auto;
  width: 500px;
}

.separator {
  border-bottom: 5px solid rgba(255, 255, 255, 0.1);
}

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
  font-family: Roboto;
  font-weight: 300;
  margin: 2em 2em 1.5em;
  text-align: center;
}

.demo {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1.5em 2em 3em;
}

.demo:last-of-type {
  border-bottom: none;
}

.demo article {
  padding: 2em;
  width: 50%;
}

.demo .prettyprint {
  border: none;
  margin: 0;
  padding: 0;
}

.github-buttons {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.github-buttons span {
  padding: 0 0.5em;
}
